*{
  box-styling: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: "helvetica", sans-serif;
}

header{
  background-color: #F5F5F5;
  padding: .5% 10% .5% 10%;
}

.header-wrapper{
  margin: 0 0 0 6%;
  width:70%;
}

.header-wrapper a{
  text-decoration: none;
  color:#333;
  font-size: .8em;
  font-weight: bold;
  margin: 0 .75%;
}

.header-wrapper input{
  width: 45%;
  line-height: 2em;
  border: solid thin lightgrey;
  border-radius: .3em;
  margin: 0 .5% 0 0;
}

.octicon-mark-github{
  font-size: 1.75em;
  padding: 0 1%;
}

/**********************************************
user info section
**********************************************/
.user-wrapper{
  margin: 0 10%;
  /*border-style:solid;
  border-color:red;
  border-width: thin;*/
  width:70%;
  margin:0 auto;
}

.user-info{
  float: left;
  display: inline-block;
  width: 24%;
  border-style:none;
  border-color:red;
  border-width: thin;
  margin-top:1em;
}
.user-info img{
  width: 100%;
  /*margin: 5% 0;*/
  border-radius: .5em;
}

.user-info h1{
  font-size:1.75em;
  font-weight: bold;
  margin:0;
  border-style:none;
  border-color:lightgrey;
  border-width: thin;
  padding-top:.3em;
}

.user-info h3{
  margin:0;
  color:grey;
  font-size:1.2em;
  font-weight:200;
  margin-top: 2%;
  padding-bottom:4%;
  padding-left:1%;
  border-bottom:solid;
  border-bottom-color:lightgrey;
  border-bottom-width:thin;
}

.info{
  font-weight: 400;
  font-size: .90em;
  padding: 2% 0;
}

.organization{
  margin-top:4%;
}

.user-info .octicon{
  color:grey;
  padding-right:.3em;
}

.follow-info{
  border-top:solid;
  border-bottom:solid;
  border-color:lightgrey;
  border-width:thin;
  text-align: center;

}

.followers{
  display: inline-block;
}

.starred{
  display: inline-block;
  margin:5% 10%;

}

.following{
  display: inline-block;
}

.follow-info h2{
  color:#4078C0;
  font-size:1.75em;
  font-weight: 600;
}

.follow-info p{
  color:grey;
  font-size: .65em;
}




/**********************************************
main info section
**********************************************/
.user-whitespace{
  float: left;
  display: inline-block;
  width: 1.5%;
}

.user-main{
  float:left;
  display: inline-block;
  width: 73%;
  margin-left:1em;
  margin-top:1em;
}

.user-main-header-wrap{
  display: inline;
  padding: 0 0 2% 0;
  border-style: solid;
}


.tab{
  display:inline;
  margin: 0 0 0 0;
  color: black;
  padding: .65em .65em .65em .65em;
  border-radius:3px 3px 0px 0px;
  border-bottom: thin solid lightgrey;
}

.tab a{
  color: black;
}

.left-header-btns{
  margin: -.6% 0 0 0;
  display: block;
  float: right;
  padding: 0 0 .3% 30.5%;
  border-bottom: solid thin lightgrey;
}

.follow-btn{
  display: inline-block;
  background-color: limegreen;
  color: white;
  padding:.45em .6em;
  /*padding: 4% 8%;*/
  margin: -20% 0 0 0;
  border-radius: 2px;
  border: thin solid grey;
  font-size: .8em;
  font-weight: 600;
}

.follow-btn a{
  color: white;
}

.octicon-person{
  /*margin: 0 2%;*/
}

.exclamation-drop{
  background-color: #F5F5F5;
  padding:.4em .2em;
  border-radius: .5em;
  border: thin solid grey;
  display: inline-block;
  margin: -2% 0 2% 0;
}

.exclamation-drop a{
  color: black;
}

.octicon-stop{
  margin:
  font-size: 1.5em;
}


/*****************************************************/
/*----------THIS-IS-THE-CONTRIBUTIONS-THING----------*/
/*****************************************************/


.contributions-block{
  margin: 4% 0 0 0;
  border-style:solid;
  border-color:lightgrey;
  border-width:thin;
  font-size:.9em;
  font-weight: 800;
  border-radius:4px;
  line-height: 1.3em;
}

.popular-repositories{
  background-color:#F5F5F5;
  padding-top:.7em;
  padding-bottom:.7em;
  padding-left:.5em;

}

.repository{
  padding-top:.65em;
  padding-bottom:.65em;
  border-top-style: solid;
  border-color:lightgrey;
  border-width:thin;
}

.repository span {
  display: inline-block;
  vertical-align: top;
  padding-left:.5em;
}

.repository a {
  color:#4078C0;
  padding-bottom:.5em;
  display: inline-block;
  text-decoration: none;
}

.repository a:hover{
  text-decoration: underline;
}

.repository p {
  color:black;
  font-size:.85em;
  font-weight: 200;
}

.stars {
  font-weight: 400;
  font-size: .85em;
  color:grey;
  float:right;
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  border-color:lightgrey;
  border-width:thin;
  margin-right: 1em;
  margin-top:.65em;
}

.num-stars{
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-color:lightgrey;
  border-width:thin;
}

.octicon-star{
  color:grey;
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  border-color:red;
  border-width:thin;
}


/*****************************************************/
/*----------THIS-IS-THE-REPOSITORIES-THING----------*/
/*****************************************************/
.repo-block{
  display: none;
  margin: 4% 0 0 0;
  border-style:none;
  border-color:lightgrey;
  border-width:thin;
  font-size:.9em;
  font-weight: 800;
  border-radius:4px;
  line-height: 1.3em;
}

.find-repositories{
  /*background-color:#F5F5F5;*/
  display:inline-block;
  width:100%;
  border-bottom: solid thin lightgrey;
}

.repo-search{
  margin: 0 0 2% 0;
  width: 30%;
  line-height: 3em;
  border-radius: .3em;
  border: solid thin lightgrey;
}

.repo-search-btn input [type=submit]{
  padding: 200px;
}


.repository-right{
  float:right;
  display:inline;
}

.repository-right div {
  display: inline-block;
  /*float:right;*/
  font-size: .9em;
  line-height: 3em;
}

.repository{
  border-bottom:solid thin lightgrey;
  border-top:none;
  font-size: 1.35em;
  padding:1.5em 0 ;
}

.repository p {
  font-size:.75em;
}

.repository h3 {
  font-size:.65em;
  color:grey;
  font-weight:200;
}

.num-forked-1{
  display: inline-block;
  vertical-align: middle;
}

.octicon-git-branch{
  color:grey;
  display: inline-block;
  vertical-align: middle;
}

/*****************************************************/
/*----------THIS-IS-THE-PUBLIC-THING----------*/
/*****************************************************/

.public-block{
  display: none;
  margin: 4% 0 0 0;
  border-style:none;
  border-color:lightgrey;
  border-width:thin;
  font-size:.9em;
  font-weight: 800;
  border-radius:4px;
  line-height: 1.3em;
}

.public-sub{
  text-align:center;
  background-color:whitesmoke;
  border-radius:5px;
  display:inline-block;
  width:100%;
  border: solid thin lightgrey;
  min-height: 100px;
}

.public-block span{
  float:right;
  margin-top:-15px;
  margin-right:-2px;
  background-color: orange;
  padding:2px 4px;
  color:white;
  border-radius: 2px;

}

.public-sub div {
  border:none thin red;
  display:inline-block;
  padding-top:40px;
}




/*****************************************************/
/*-----------THIS-IS-THE-TAB-FUNCTIONALITY-----------*/
/*****************************************************/

.clicked{
  border:solid thin lightgrey;
  border-bottom:none;
}

/*.display{
  display:block;
}*/
